<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title></title>
        <th:block th:insert="~{index :: head/script}"></th:block>
		<th:block th:insert="~{index :: head/link}"></th:block>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    </head>
    <body>
    	<div class="container">
		   	<th:block  th:insert="~{index :: navbar}"></th:block>
		   	<div class="col-sm-12" style="display: inline-flex;">
			   	<h2 class="col-sm-8" style="margin-top: 0px;">会員マスタメンテ</h2>
				<div class="col-sm-4"style="padding-right: 0px;"><a href="#" style="float: right;">ログアウト</a></div>
		   	</div>
<!-- --- -->
			<div class="col-sm-12"><a href="/bookmaster" style="float: right;">戻る</a></div>
			<h4 th:utext="${msg}"></h4>
			
			<div >
			<!-- 本ID： -->
				<div class="col-sm-12" style="padding-top: 10px;">
					<div class="col-sm-5">
						<label>本ID：</label> <br>
						<label style="font-size: x-large;" th:text="${bookForm.bookId}"></label>
					</div>
				</div>
			<!-- 本タイトル -->
				<div class="col-sm-12" style="padding-top: 10px;">
					<div class="col-sm-12">
						<label>本タイトル：</label> <br>
						<label style="font-size: x-large;" th:text="${bookForm.bookTitle}"></label>
					</div>
				</div>
			<!-- 著者名 -->
				<div class="col-sm-12" style="padding-top: 10px;">
					<div class="col-sm-12">
						<label>著者名：</label> <br>
						<label style="font-size: x-large;" th:text="${bookForm.authorName}"></label>
					</div>
				</div>
			<!-- 出版社 -->
				<div class="col-sm-12" style="padding-top: 10px;">
					<div class="col-sm-12">
						<label>出版社：</label> <br>
						<label style="font-size: x-large;" th:text="${bookForm.publisher}"></label>
					</div>
				</div>
			<!--  出版年月日(西暦) -->
				<div class="col-sm-12" style="padding-top: 10px;">
					<div class="col-sm-12">
						<label>生年月日(西暦)：</label> <br>
						<label style="font-size: x-large;" th:text="${bookForm.pubYear + '年' + bookForm.pubMonth + '月' + bookForm.pubDate + '日'}"></label>
                    </div>
				</div>
			<!-- action -->
				<div class="col-sm-12" style="padding-top: 10px;">
					<div style="float: right;" th:utext="${button}">
						
					</div>
					<form method="get" id="form"></form>
				</div>
			</div>
    	</div>
    </body>
	<script type="text/javascript">
		var msg = "[[${msg}]]";
	 	if(msg != ""){
	 		alert(msg);
	 	}

		$(document).ready(function(){
			$('#addBook').click(function(event){
				if (confirm('登録します。よろしいですか？')) {
					$('#form').attr('action', '/addbook');
					$('#form').submit();
				} else {
					event.preventDefault();
				}
			});
			
			$('#updateBook').click(function(event){
				if (confirm('updateします。よろしいですか？')) {
					$('#form').attr('action', '/updatebook');
					$('#form').submit();
				} else {
					event.preventDefault();
				}
			});
			
			$('#deleteBook').click(function(event){
				if (confirm('deleteします。よろしいですか？')) {
					$('#form').attr('action', '/deletebook');
					$('#form').submit();
				} else {
					event.preventDefault();
				}
			});
			
			$('#searchBook').click(function(event){
				if($('#memberId').val() == ''){
					alert("会員ID を入力してください。");
					event.preventDefault();
				}else if(checkInputIsAlphanumeric($('#memberId').val()) == false){
					alert("会員IDは半角英数字で入力してください。");
					event.preventDefault();
				}else{
					$('#form').attr('action', '/searchmember');
					$('#form').submit();
				}
			});
			
		});
	</script>
</html>